{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}TryDjango1.8 | {{ block.super }}{% endblock %}

{% block jumbotron %}
<div class="row">
    <div class="col-xs-12 col-sm-8">
    <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <h1>Tru Django 1.8</h1>
            <p>The MVP Landing project is designed to get you project start.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="" role="button">Join Us</a>
            </p>
          </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="height:300px;">
        <iframe  src="https://www.youtube.com/embed/4OlGpS2LG_M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">>
    <div class="col-xs-12 col-md-4 pull-right">
        <h1>{{ template_title }}</h1>
        {{ user }}
        <hr>
        {% if showForm %}
            <form method='POST' action="">{% csrf_token %}
                    {{ form | crispy }}
                     <input class="btn btn-primary" type="submit" value="Sign Up">
            </form>
        {% endif %}
    </div>
</div><!--row-->
{% endblock %}